{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Grocer| </title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/style.css' %}" type="text/css">
</head>
<style>
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 195px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 12px 16px;
        z-index: 1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
</style>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="{%static 'img/logo.png' %}" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
            </ul>
            <div class="header__cart__price">item: <span>$150.00</span></div>
        </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__language">
                <img src="{%static 'img/language.png' %}" alt="">
                <div>English</div>
                <span class="arrow_carrot-down"></span>
                <ul>
                    <li><a href="#">Spanis</a></li>
                    <li><a href="#">English</a></li>
                </ul>
            </div>
            <div class="header__top__right__auth">
                <a href="#"><i class="fa fa-user"></i> Login</a>

            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="./index.html">Home</a></li>
                <li><a href="./shop-grid.html">Shop</a></li>
                <li><a href="#">Pages</a>
                    <ul class="header__menu__dropdown">
                        <li><a href="./shop-details.html">Shop Details</a></li>
                        <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                        <li><a href="./checkout.html">Check Out</a></li>
                        <li><a href="./blog-details.html">Blog Details</a></li>
                    </ul>
                </li>
                <li><a href="./blog.html">Blog</a></li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                <li>Free Shipping for all Order of $99</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> ogani@gmail.com</li>
                                <li>Free Shipping for all Order of 300Rs./li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>

                            <div class="header__top__right__auth">
                                <!-- <a href="accounts/register"><i class="fa fa-user"></i> Register</a> -->

                                {% if user.is_authenticated %}
                                <!-- <a href="{% url 'logout' %}"><i class="fa fa-user"></i> Logout</a> -->
                                <h4>
                                    <li><b>Hello,{{user.first_name}}</b></li>
                                </h4>
                                {% else %}

                                <a href="{% url 'login' %}"><i class="fa fa-user"></i> Login</a>
                                <a href="admin/"><i class="fa fa-user"></i> Admin</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="{% static 'img/logo.png'%}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>

                            <li class=""><a href="{% url 'index' %}">Home</a></li>
                          <!--  <li class=""><a href="{% url 'index' %}">About Us</a></li>-->

                            <li><a href="{% url 'contact' %}">Contact</a></li>
                            {% if user.is_authenticated %}
                            <div class="dropdown">
                                <li><b>My Account</b><i class="fa fa-chevron-down"></i></a></li>
                                <div class="dropdown-content">
                                    <li><a href="./contact.html">My Address</a></li>
                                    <li><a href="{% url 'myacct' %}">My Orders</a></li>
                                    <li><a href="{% url 'logout' %}"><i class="fa fa-user"></i> Logout</a></li>

                                </div>
                            </div>
                            {% else %}
                            <li><a href="{% url 'post_new' %}"><i class="fa fa-user"></i> Register</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            {% if user.is_authenticated %}

                            <li>

                                <div>
                                    <button type="button" class="btn btn-success" id="popcart" data-container="body"
                                        data-toggle="popover" data-html="true" data-placement="bottom" data-html="True"
                                        data-content="aa">

                                        <b>Cart<i class="fa fa-shopping-bag"></i><span id="cart">0</span></b>
                                    </button>
                                </div>


                            </li>


                            {% else %}
                            {% endif %}

                        </ul>

                    </div>
                </div>

            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>All departments</span>
                        </div>
                        <ul>

                            <li><a href="{% url 'veg' %}"><b>Vegetables</b></a></li>
                            <li><a href="{% url 'fruit' %}"><b>Fruits</b></a></li>
                            <li><a href="{% url 'personalcare' %}"><b>Personal Care</b></a></li>
                            <li><a href="{% url 'snack' %}"><b>Snacks</b><a></li>
                            <li><a href="{% url 'householditem' %}"><b>Household Items</b></a></li>


                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">

                                <input type="text" placeholder="What do yo u need?">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+65 11.188.888</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->
    {% block content %}

    {% endblock %}

    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="{% static 'img/logo.png'%}" alt=""></a>
                        </div>
                        <ul>
                            <li>Address: A-100,Axiom Complex,S.g Highway</li>
                            <li>Phone: +65 11.188.888</li>
                            <li>Email: ogani@gmai.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                   
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Join Our Newsletter Now</h6>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>

    </footer>
</body>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="{% static 'js/jquery-3.3.1.min.js'%}"></script>
<script src="{% static 'js/popper.min.js'%}"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
<!-- <script src="{% static 'js/bootstrap.min.js'%}"></script> -->
<script src="{% static 'js/jquery.nice-select.min.js'%}"></script>
<script src="{% static 'js/jquery-ui.min.js'%}"></script>
<script src="{% static 'js/jquery.slicknav.js'%}"></script>
<script src="{% static 'js/mixitup.min.js'%}"></script>
<script src="{% static 'js/owl.carousel.min.js'%}"></script>
<script src="{% static 'js/main.js'%}"></script>

{% block js %}
<script>

    //find out the cart items from local storage
    if (localStorage.getItem('cart') == null) {
        var cart = {};
    } else {
        cart = JSON.parse(localStorage.getItem('cart'));
        document.getElementById('cart').innerHTML = Object.keys(cart).length;
        //updateCart(cart);

    }
    // If the add to cart button is clicked, add/increment the item
    //$('.cart').click(function () {
    $('.divpr').on('click', 'button.cart', function () {
        var idstr = this.id.toString();
        if (cart[idstr] != undefined) {
            Qty = cart[idstr][0] + 1;

        } else {
            Qty = 1;
            name = document.getElementById('name' + idstr).innerHTML;
            price = document.getElementById('price' + idstr).innerHTML;
            cart[idstr] = [Qty, name, parseInt(price)];
        }
        //console.log(cart);

        localStorage.setItem('cart', JSON.stringify(cart));
        document.getElementById('cart').innerHTML = Object.keys(cart).length;
        updateCart(cart);
        //updatePopover(cart);

    });
    //for the popover


    $('#popcart').popover();
    updatePopover(cart);
    function updatePopover(cart) {
        //console.log('we are inside popover');
        var popStr = "";
        popStr = popStr + "<h4> This is the cart for your items in here. </h4><div class= 'mx-2 my-4'>";
        var i = 1;
        for (var item in cart) {
            popStr = popStr + "<b>" + i + "</b>. ";
            popStr = popStr + document.getElementById('name' + item).innerHTML + '-' + document.getElementById('price' + item).innerHTML + "-" + "Qty : " + cart[item][0] + '<br>';
            i = i + 1;

        }
        popStr = popStr + "</div><a href='{% url 'checkout' %}'><button id ='checkout' class='btn btn-success'>Checkout</button></a> <button class=' btn btn-success' onclick='clearCart()' id ='clearCart'> Clear Cart</button>     "
        document.getElementById('popcart').setAttribute('data-content', popStr);
        $('#popcart').popover('show');

    }
    function clearCart() {
        cart = JSON.parse(localStorage.getItem('cart'));
        for (var item in cart) {
            document.getElementById('div' + item).innerHTML = '<button id="' + item + '" class="btn btn-primary cart">Add To Cart</button>'
        }
        localStorage.clear();
        cart = {};
        updateCart(cart);

    }


    function updateCart(cart) {
        console.log(cart);
        var sum = 0;
        for (var item in cart) {
            sum = sum + cart[item][0];
            document.getElementById('div' + item).innerHTML = "<button id='minus" + item + "' class='btn btn-primary minus'>-</button> <span id='val" + item + "''>" + cart[item][0] + "</span> <button id='plus" + item + "' class='btn btn-primary plus'> + </button>";

        }
        localStorage.setItem('cart', JSON.stringify(cart));
        document.getElementById('cart').innerHTML = sum;
        console.log(cart);
        updatePopover(cart);

    }
    // If the plus or minus button is clicked change the cart as well as the display
    $('.divpr').on("click", "button.minus", function () {
        a = this.id.slice(7,);
        cart['pr' + a][0] = cart['pr' + a][0] - 1;
        cart['pr' + a][0] = Math.max(0, cart['pr' + a][0]);
        document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
        updateCart(cart);

    });
    $('.divpr').on("click", "button.plus", function () {
        a = this.id.slice(6,);
        cart['pr' + a][0] = cart['pr' + a][0] + 1;
        document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
        updateCart(cart);
    });



</script>

{% endblock %}







</html>