{% extends 'master.html' %}
{% load static %}
{% block content %}
{% static "img/product" as baseUrl %}

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Snacks</h2>
                        <div class="breadcrumb__option">
                            <a href="{% url 'index' %}">Home</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                      



                        <div class="sidebar__item">
                            <div class="latest-product__text">
                                <h4>Latest Products</h4>
                                <div class="latest-product__slider owl-carousel">
                                    <div class="latest-prdouct__slider__item">
                                        <a href="#" class="latest-product__item">
                                            <div class="latest-product__item__pic" style="width:170px;">
                                                <img src="{% static 'img/latest-product/noodles.jpg' %}" alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>noodles</h6>
                                                <span>25₹</span>
                                            </div>
                                        </a>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="col-lg-9 col-md-7">

                   

                    <div class="row">
                        {% for prod in prods%}
                        {% if prod.status %}
                        <div class="col-lg-4 col-md-6 col-sm-6">

                            <div class="product__item">

                                <div class="product__item__pic set-bg" data-setbg="{{prod.img.url}}">
                                    <ul class="product__item__pic__hover">
                                        <span id="divpr{{prod.id}}" class="divpr">
                                        <li><button class="btn btn-success cart" id="pr{{prod.id}}">Add to cart</button></li>
                                        </span>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#" id="namepr{{prod.id}}"><b>{{prod.name}}</b></a></h6>
                                    <h5>{{prod.qty}}=<a  id="pricepr{{prod.id}}">{{prod.price}}₹</a></h5>
                                </div>

                            </div>

                        </div>
                        {% endif %}
                        {% endfor%}
                    </div>


                </div>
            </div>
        </div>
    </section>


{% endblock %}


<script>
    localStorage.setItem('cart',JSON.stringify(cart));
</script>



